.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.App-anchor {
  color: white;
}

a {
  text-decoration: none;
  color: black;
}

nav {
  display: flex;
  background-color: white;
  padding: 10px;
  justify-content: flex-start;
}

li {
  padding: 20px;
  background: gray;
  margin: 20px;
  border-radius: 5px;
  list-style: none;
}

ul {
  display: flex;
}

.wrapper-for-icons {
	display: flex;
}

.wrapper-for-icons span {
	font-size: 18px;
	margin-left: 10px;
	display: inline-flex;

}

.likeButton {
	cursor: pointer;
	display: inline-flex;
}
